*.*~
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
.idea

*.db
*.DS_Store
README.html
docs/specification.html
exec
/docs/install.html
/docs/*.html
/cmd/fetch-aws-keys/action
/cmd/github-user-aggregator/action
/cmd/github-user-events-scanner/action
/cmd/write-doc/action
/cmd/nuke-leaked-aws-keys/action
/cmd/lookup-github-users-aws-keys/action
